
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
}


/* h3{

  display: inline !important;
}*/

.navbar .navbar-header {

background-color: rgba(255, 255, 255,1);

}

/* Portrait phones and smaller */
@media (min-width: 0px) and  (max-width: 359px) {


#menu{
  display: none !important;
  visibility: hidden !important;
}

#map{

 width: 100% !important;
 height: 74% !important;
 bottom: 0 !important;
 left: 0 !important;
 margin:0 !important;
  }


}


/* Portrait phones and smaller */
@media (min-width: 360px) and  (max-width: 459px) {

#menu{
  display: none !important;
  visibility: hidden !important;
}

#map{

 width: 100% !important;
 height: 84% !important;
 bottom: 0 !important;
 left: 0 !important;
 margin:0 !important;
  }


}

/* Desktop Responsive window */
@media (min-width: 460px) and  (max-width: 766px) {

#menu{
  display: none !important;
  visibility: hidden !important;
}

#map{

 width: 100% !important;
 height: 84% !important;
 bottom: 0 !important;
 left: 0 !important;
 margin:0 !important;
  }


}


/* Portrait tablets and small desktops */
@media (min-width: 767px) and (max-width: 991px) {



#map{

 width: 70% !important;
 height: 90% !important;
 bottom: 0 !important;
 left: 30% !important;
 margin:0 !important;
  }

#navBarLeft{
  height: 95% !important;;
  width: 30% !important;
  left: 0 !important;;


}

}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {


#map{

 width: 75% !important;
 height: 92% !important;
 bottom: 0 !important;
 left: 25% !important;
 margin:0 !important;
  }

#navBarLeft{
  height: 100% !important;;
  width: 25% !important;
  left: 0 !important;;


}

}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px) {

#map{

 width: 80% !important;
 height: 93% !important;
 bottom: 0 !important;
 left: 20% !important;
 margin:0 !important;
  }

#navBarLeft{
  height: 101% !important;;
  width: 20% !important;
  left: 0 !important;;


}

}

/* Extra Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1980px) {

#map{

 width: 80% !important;
 height: 93% !important;
 bottom: 0 !important;
 left: 20% !important;
 margin:0 !important;
  }

#navBarLeft{
  height: 101% !important;;
  width: 20% !important;
  left: 0 !important;;


}


}





#map{

 position:absolute;
 width:85%;
 left: 15%;
 height:93%;
 z-index: 0;
 bottom: 0;
  }


#togglebtn{

left:5%;
background-color: rgba(255, 255, 255,0);
display:inline-block;

}

#toggle-bar{
background-color: white;
float: left;
bottom:0;
}



.leaflet-popup-content-wrapper,.leaflet-popup-content
 {
   -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: rgba(255,255,255,0.8)
    

 }

#myImg {
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    /*transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
      -webkit-transform: scale(0.5, 0.5);*/
}

#myImg:hover {opacity: 0.7;}

/***************** THE MODAL ********************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 50px !important;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    align-items: center !important;
    /*min-height: 100%;*/
}

/* Modal Content (image) */



#modalContent {
  margin-top: 25px!important;
  align-items: center !important;
  display: inline-block !important;
  width: 90%;
  margin-left:5%;
  margin-bottom: 5%;
  
}

.modalContainer{ 
/*background-color: black !important;*/
align-items: center !important;
margin-top: 75px !important;
margin-bottom: 50px;


}

#imgContainer{
/*  align-items: center !important;*/
  margin-top: 50px !important;
}

/*
.modal-content {
    margin-top:50px;
    margin-left: 50px;
    display: inline-block;
    width: 50%;
    max-width: 400px;
}*/




/* Caption of Modal Image */
#caption {
    margin: auto;

}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 25px;
    right: 45px;
    color: #f1f1f1;
    font-size: 75px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#selfie{

 max-height: 20%;
 width: auto;

}





/***************** END OF THE MODAL ********************/

.navbar-header {
  float: none;
  background-color: white;
}
.navbar-toggle {
  display: inline-block;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}




.navbar-toggle .icon-bar {
  display: block;
  width: 33px;
  height: 4px;
  background-color: rgb(238,51,255);
  border-radius: 1px;
  margin-top: 33%;
}

.formContainer{
  margin:20px;
}



#navBarLeft{
  margin:auto;
  height: 100%;
  
  width: 15%;
  top: 15%;
  left: 0;
  bottom: 0;
}

